<app-header></app-header>
<div class="container">
    <div class="card mb-3" style="width: 30rem;">
        <img class="card-img-top" src="../../../assets/images/user-avatar.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <div class="card-footer bg-dark">

            <share-buttons [include]="['facebook']" [show]="9" [url]="'https://www.google.com'" [image]="''"
                [autoSetMeta]="false"></share-buttons>

            <hr>
            <br>
            <h5>Hello there</h5>
        </div>

    </div>
    
</div>