<app-header></app-header>
<div class="container">
    <br>
    <table id="example" style="width:100%" datatable="ng" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
        <thead>
            <tr>
                <th>S.N.</th>
                <th>Symbol</th>
                <th>Company</th>
                <th>Listed share</th>
                <th>Paid up</th>
                <th>Total paid up capital</th>
                <th>Market Capitalizaiton</th>
                <th>Date of operation</th>
                <th>LTP</th>
                <th>AS of</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let datas of data, index as i">
                <ng-container *ngIf="!isLoading">
                    <td>{{i+1}}</td>
                    <td>{{datas.symbol}}</td>
                    <td>{{datas.companyname}}</td>
                    <td>{{datas.shares}}</td>
                    <td>{{datas.paidup}}</td>
                    <td>{{datas.marketcap}}</td>
                    <td>{{datas.paidupcap}}</td>
                    <td>{{datas.operationdate}}</td>
                    <td>{{datas.ltp}}</td>
                    <td>{{datas.date}}</td>
                </ng-container>
                <ng-container *ngIf="isLoading">
                    <div class="spinner-border m-5 mx-auto" role="status">
                        <span class="sr-only text-center"></span>
                    </div>
                </ng-container>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <th>S.N.</th>
                <th>Symbol</th>
                <th>Company</th>
                <th>Listed share</th>
                <th>Paid up</th>
                <th>Total paid up capital</th>
                <th>Market Capitalizaiton</th>
                <th>Date of operation</th>
                <th>LTP</th>
                <th>AS of</th>
            </tr>
        </tfoot>
    </table>
</div>