<app-header></app-header>
<div class="container">
  <br>

  <div class="row">
    <div class="col-md-6" *ngFor="let user of users, index as i">
      <div class="card mb-3" style="max-width: 540px;" *ngIf="!isLoading">
        <div class="row g-0">
          <div class="col-md-4" >
            <a  routerLink="user/{{user.id}}" style="cursor: pointer;">
              <img [src]="user.avatar_url" class="img-fluid rounded-start" alt="...">
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <br>
              <h5 class="card-title">{{user.login}}</h5>
              <a (click)="goToGithub(user.html_url)" class="btn btn-danger">Open github link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="loader" *ngIf="isLoading">
        Loading...
      </div>
    </div>
  </div>

</div>